
.App {
  text-align: center;
  /* background-image: url('./images/firew2.jpg'); */
}

body {
  background-color: lightblue;
  background-repeat: no-repeat;
}
p {
  font-size: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.f-card {
  font-size: 50px;
  margin-top: auto;
  color: white;
}

.fw-img {
  height: 200px;
  width: 200px;
}

.images {
  float:left;
  margin-top: 50px;
  border-style: solid;
  border-color: #008080;
  width: 500px;
  height: auto;
}

.totals {
  float: right;
  margin-top: 50px;
  border-style: solid;
  border-color: #008080;
  width: 400px;
  height: 280px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-color: lightblue;
  /* background-image: url('./images/firew.jpeg'); */
}

#card-border {
  border: 2px solid black;
  background-color: lightgreen;
}

.form {
  margin-left: 400px;
  font-size: 20px;
}
/* .srch {
  border-style: solid;

} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
