
.App {
  text-align: center;
}

html {
  min-height:100%;
  background-image: linear-gradient(red, white, blue);
  background-size: cover;
}

.formDiv {
  background-image: inherit;
  color: lightgray;
}

p {
  font-size: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.f-card {
  font-size: 30px;
  margin-top: auto;
  color: white;
}

.f-text {
  font-size: 30px;
  margin-top: auto;
  color: #b54141;
}

.fw-img {
  height: 200px;
  width: 200px;
}

.pix {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.images {
  float:left;
  margin-top: 50px;
  border-style: solid;
  border-color: #008080;
  width: 500px;
  height: auto;
}

.tot {
  margin:auto;
  border-style: solid;
  border-color: #008080;
  width: 400px;
  height: auto;
}

.totList {
  margin-right: 250px;
  margin-top: 50px;
}

.totListSub {
  margin-right: 250px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background-size: cover;
  background-image: inherit;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: auto;
}

#cards-border {
  border: 3px solid black;
  background-color: #158cd1;
}

#card {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid black;
  font-size: 30px;
  background-color: #158cd1;
  color: lightgray;
}

.form {
  margin-left: 50px;
  font-size: 30px;
}

.btn {
  height: 30px;
  width: 80px;
  font-size: 10px;
  margin-bottom: -30px;
}

.stk {
  font-size: 15px;
  background-color: red;
  border-radius: 15px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom:-20px;
}

.stk2 {
  margin-bottom:10px;
}

.homePic {
  height: 600px;
  width: 800px;
  background-size: cover;
}

.cnt {
  display: inline-flex;
  margin: 0 auto;
}

.btn2 {
  height: auto;
  width: 80px;
  font-size: 10px;
  margin-bottom: 10px;
}

input.textbox {
  margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
    width: 350px;
}

h3 {
  margin-bottom: -10px;
}
